.btn_submit {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 15px;
  min-width: 60px;
  border: none;
  color: #2e59d9;
  background-color: #fff;
  border: 2px solid;
  border-color: #2e59d9;
  transition: background-color 0.17s ease, color 0.17s ease;
}
.btn_delete {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 15px;
  min-width: 60px;
  border: none;
  color: red;
  background-color: #fff;
  border: 2px solid;
  border-color: red;
  transition: background-color 0.17s ease, color 0.17s ease;
}
.btn_delete a {
  color: red;
}
